.Button {
  background-color: white;
  box-sizing: border-box;
  font-weight: bold;
  padding: 30%;
}

.Sign {
  color: rgb(255, 0, 0);
}

.Number {
  color: rgb(26, 24, 24);
}

.Equals-Sign {
  background-color: rgb(226, 14, 85);
  color: white;
  grid-column: 3/5;
  padding: 15%;
}

.Sign:hover {
  background-color: rgb(226, 14, 85);
  color: white;
}

.Number:hover {
    color: white;
    background-color: rgb(105, 105, 105);
}


.Equals-Sign:hover {
    background-color: rgb(243, 79, 131);
    color: white;
}